body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    background: #ecf0f1;
}

.bookshelf {
    padding-top: 120px;
    padding-bottom: 40px;     
    }
    
h1 {
    font-weight: normal;
    padding-left: 15px;
}

.item {
    width: 270px;
    padding: 10px;
    padding-left: 20px;
    background: white;
    display: inline-block;
    position: absolute;
    top: 120px;
    left: 10px;
    width: 500px;
    height: auto;
   
}

.bt {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    word-wrap: break-word;
    text-align: center;
    font-style: inherit;
    border-radius: 4px;
    background: #d5d5d5;
    max-height: 35px;
    width: 120px;
    font-size: 12px;
    margin: 0;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.bt:hover {
    color: white;
}

.bt:active {
    color: rgba(141, 116, 90, 0.3);
}

.add {
    margin: 0;
    margin-left: 15px;
}

.editbook {
    width: 90%;
}

.bookinfo-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bookinfo-group label {
    font-size: 14px;
    font-weight: normal;
    }
    
.bookinfo-group input[type="text"] {    
    font: inherit;
    color: inherit;
    border: 2px solid #d5d5d5;
    width: 100%;
    padding: 9px 15px;
    height: 25px;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 12px;
}
 
.bookinfo-group input[type="text"]:hover  {
    border: 2px solid #d5d5d5;
    }
    
.bookinfo-group input[type="submit"] {
    margin-top: 55px;
    }
        
.form-head {
    font-weight: normal;
    font-size: 18px;
    font-family: "Georgia", serif;
    color: black;
    margin: 0;
    margin-bottom: 10px;
    }
    
