body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    background: #ecf0f1;
}

.shelf_bt_add, 
.bts__edit, 
.bts__cansel {
    color: #a38b70;
    text-transform: uppercase;
    display: block;
    vertical-align: top;
    border: 2px solid #a38b70;
    padding: 10px;
    word-wrap: break-word;
    text-align: center;
    border-radius: 2px;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #a38b70;
    background-color: white;
}

.shelf_bt_add {
    margin-left: 10px;
    width: 100px;
    }
    
.shelf__selfname {
    padding-left: 10px;
    }
    
.bookshelf {
    margin-left: 15px;
}

.item {
    width: 50%;
    margin-top: 15px;
    background: white;
    display: flex;
    flex-direction: row;
    min-width: 500px;
    min-height: 150px;
}

.cover {
    display: flex;
    flex-direction: column;
    background-color: #C0C0C0;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.cover__image {
    min-width: 65px;
    min-height: 120px;
    width: 15% ;
    height: 70% ;
    }
    
.descript {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 2%;
    width: 50%;
    flex-wrap: wrap;
    align-items: stretch;
}
    
    
.bts {
    display: flex;
    flex-direction: column; 
    width: 35%;
    align-items: center;
    justify-content: center;    
}    


.bts__edit,
.bts__cansel {
    width: auto;
    height: auto;
    min-width: 90px;
    min-height: 15px;
    margin: 5px;
}

.descript__name,
.descript__author,
.descript__year {
    width: auto;
    height: auto;
    min-width: 90px;
    min-height: 15px;
    }

h3, h4 {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    }
    
h4 {
    font-weight: normal;
    } 
