body {
	margin: 0px;
	padding: 0px;
/*	font-size:;
	line-height: ;
	font-family:;
	color: ; */
    background-color: #eaeaea ;
	min-width: 1040px;
/*	min-width: 1680px; */
}
/* 1680px (1660px)  из 1920px 
  <!-- Фоновая картинка для верха--> */
.header {
    background-image: url("img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 490px;
} 

.header {
    padding: 0px;
/*    background-color: #363636; */
    background-color: #eaeaea;
    color: #c3c3c3; 
    }

.container {
    width: 1020px;
    /* width: 1660px; */
    margin:  0 auto;
    padding-top: 38px;
    }
    
.main-menu {
	padding: 0;
    margin: 0;
    list-style: none;
    float; left;
    width: 520px;
    padding: 0;
    margin: 0;
    margin-left: 125px;
}

.main-menu li {
    text-transform: uppercase;
    float: left;
    margin-right: 50px;
    
}

.main-menu li:last-child {
    margin-right: 0px;
}

.main-menu a {
    text-transform: uppercase;
    color: #ffffff;
    /*    color: #92979a; */
    text-decoration: none;
}

.btn-main-nav {
    margin-right: 100px;
    float: right;
    color: #ffffff;
    /*    color: #92979a; */
    text-transform: uppercase;
    text-decoration: none;
    }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



.bar {
    width: 100px:
    height: 490px;
    background-color: #cac0b4;
    border: 1px solid black;
}

/*
/* Блок стилей для ссылок на соцсети */
.share {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #bdc3e7;
	margin-right: 10px;
	vertical-align: middle;

	background-image: url("");
	background-repeat: no-repeat;
}

/* Временная обводка элемента */
 .icon {
    outline: 2px solid rgba(0, 0, 0, 0.1);
}

.item {
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
}

.icon-git {
	background-color: #;
	Background-position: ;
}

.icon-inst {
	background-color: #;
	Background-position: ;
}

.icon-vk {
	background-color: #;
	background-position: ;
}  */