@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto:300,400,500,700');
/*
body {
	opacity: 50%;
} */
.content {
	flex-direction: column;
}
/* ---- */
.content__title {
	text-align: left;
	text-transform: uppercase;
	width: auto;
	font-family: Roboto, sans-serif;
	color: #b2b2b2;
	padding-left: 27rem;
}

/* --Content Destinations-- */

.content__offers {
	display: flex;
	width: 100%;
	justify-content: center;
}

.content__item-offers {
	display: flex;
	margin: 15px;
    flex-direction: column;
	border: 2px solid #eee;	
}

.content__item-offers:hover {
	border: 2px solid #1dd2af;
}

.content-item__descript {
	display: flex;
	justify-content: space-around;
	background-color: #2c3e50;
	font-family: "Roboto Medium", sans-serif;
	font-size: 14px;
	color: #ffffff;
	align-items: baseline;
	padding: 5px;
}

.content-item__price {
	display: flex;
	justify-content: space-between;
	background-color: #1dd2af;
	font-family: "Roboto Medium", sans-serif;
	color: #ffffff;
	font-size: 15px;
    padding: 0 10px;
    text-transform: uppercase;
}

/* ------*/

.content__button {
	display: flex;
	margin: 20px auto;
	width: 55rem;
	border: none;
	justify-content: center;
	padding: 10px;
	text-transform: uppercase;
	background-color: #2c3e50;
	color: white;
}
