@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto:300,400,500,700');

body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #2c3e50;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

/*- User-menu */
.user-menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Roboto Light", sans-serif;
}

.us-menu-nav,
.social-icons_position_top {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;  
}

.us-menu-nav__link {
    padding: 3px 10px;
    box-shadow: inset -2px 0px 0px 0px #17202a;
}

.us-menu-nav__link-icon {
    margin-right: 5px;
}

.social-icons__link {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset -2px 0px 0px 0px #17202a;
}

@media all and (max-width: 399px) {
    .user-menu {
        flex-direction: column;
        display: none;
    }
    .us-menu-nav {
        flex-direction: column;
        padding: 15px 0;
    }
    .us-menu-nav__link {
        margin: 5px 0;
        box-shadow: none;
    }
}
/*-Navigation menu-*/
.nav-menu {
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;
/*    max-height: 50px; */
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 146px;
    height: 28px;
}

.nav-menu-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    list-style: none;
    width: auto;
}

.nav-menu-links__item {
    margin: 0;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-content: space-between;
    flex-basis: auto;
    margin: 0 5px;
    font-family: "Roboto Medium", sans-serif;
    font-size: 20px;
    color: #5d6e80;
    text-transform: uppercase;
}

.nav-menu-links__item:hover {
    color: #1dd2af;
    border-bottom: 3px solid #1dd2af;
}

.nav-menu-links__item_type_search {
    background-image: url("img/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border: 2px solid #2c3e50;
    border-radius: 50%;
    
}

@media all and (max-width: 399px) {
    .nav-menu {
        flex-direction: column;
        height: auto;
    }
    .header-logo {
        margin: 10px;
    }
    .nav-menu-links {
        flex-direction: column;
        margin: auto;
         display: none;
    }
    .nav-menu-links__item {
        padding: 0;
        align-content: center;
    }
}

/*---LogIn/Registrar Form---*/
.log-form,
.reg-form {
    background-color: #eee;
    background-image: url("img/login-form.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 40%;
    /*left: auto;
    right: auto; */
    min-width: 265px;
    min-height: 400px;
    margin: 0 auto;
    z-index: 101;
    border-radius: 2px;
    font-family: "Roboto Medium", sans-serif;
    display: none;
}

.log-form__input,
.reg-form__input {
    background-color: rgba(0, 170, 238, 0);
    border: none;
    border-bottom: 1px solid #eee;
    margin-top: 17px;
    padding: 4px 8px;
    min-width: 182px;
    color: #fff;
}

.log-form__input::placeholder,
.reg-form__input::placeholder {
    color: #fff;
}

.log-form__btn,
.reg-form__btn {
    margin: 36px 0 23px 0;
    min-width: 182px;
    min-height: 35px;
    justify-content: center;
    word-wrap: normal;
    text-transform: uppercase;
    background: linear-gradient(to top left, #115f83, #408c72);
    color: #fff;
    border: none;
    box-shadow:  -1px -1px 5px 0.5px #115f83;
    cursor: pointer;
}

.log-form__text,
.reg-form__text {
    color: #eee;
    margin: 0 0 14px 0;
    font-size: 10px;
}

.log-form__text_state_bold,
.reg-form__text_state_bold {
    font-weight: bold;
}

.log-form__back {
    position: absolute;
    display: none;
    Background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 100;
}

/*--Promo-block--*/

.promo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: 849px;
    color: #fff;
}

@media all and (max-width: 399px) {
    .promo {
        display: none;
    }
}

.promo_cover_back-bridge {
    background-image: url("img/backhead2.png");
}

.promo_cover_back-lake {
    background-image: url("img/Explore-the-worlds.jpg");
}

.promo_cover_back-night {
    background-image: url("img/night.png");
}

.promo-tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20rem;
    font-family: "Roboto Bold", sans-serif;
    text-align: center;
    font-size: 16px;
}

.promo__text_style_big {
    font-size: 24px;
    text-transform: uppercase;
}

.promo-buttons {
    width: auto;
}

.promo-buttons__btn {
    display: inline-block;
    min-width: 20%;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    vertical-align: top;    
    border: 2px solid #fff;
    border-radius: 2px;
    word-wrap: break-word;
    color: #fff;
    font-family: "Roboto Bold", sans-serif;
    font-size: 12px;
}

.promo-buttons__btn:hover {
    background-color: #1dd2af;
    border: 2px solid #1dd2af;
}

.promo__scroll {
    display: flex;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    text-transform: uppercase;
    background-color: #92a2a9;
    opacity: 0.8;
    border: none;
    font-family: "Roboto Bold", sans-serif;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
}

.promo__scroll:hover {
    background-color: #1dd2af;
    border: 1px solid #1dd2af;
}

/*---Find Your Holidays---*/
.find-offers {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.find-offers-form {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin: 10px;
}

.find-offers-form__label {
    text-transform: capitalize;
    margin-right: 10px;
    margin-left: 10px;
}

.find-offers-form__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 3px;
    width: 230px;
}

.find-offers-form__input {
    margin: 0;
    padding: 6px 8px;
    vertical-align: middle;
    border: none;
}

.find-offers-form__btn {
    width: 75px;
    height: 35px;
    margin-left: 20px;
    background-color: #1dd2af;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

@media all and (max-width: 399px) {
    .find-offers {
        flex-wrap: wrap;
    }
    .find-offers__text {
        width: 300px;
        text-align: center;
    }
    .find-offers-form__label {
        margin: 0px 10px 5px;
    }
    .find-offers-form {
        margin-bottom: 15px;
        margin-right: 25px;
    }
    .find-offers-form__btn {
        margin-bottom: 15px;
    }
}
/*----Content - Upload ----*/
.l-upload {
    position: absolute;
    display: none;
}

/* ---Content ----*/
.content-title {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Roboto Regular", sans-serif;
}

.content-title__text_size_big {
    text-transform: uppercase;
    padding-top: 1rem;
    font-family: "Roboto Medium", sans-serif;
    color: #2c3e50;
}

/* ---Special offers ----*/

.special-offers-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    flex-basis: auto;
    min-height: 250px;
    max-height: 750px;
    width: 100%;
    position: relative;
}

.special-offers-block__item {
    width: 180px;
    height: auto;
    color: #000;
    display: flex;
    flex-direction: column;
    margin: 7px;
    align-self: flex-start;
    border: 3px solid transparent;
    transition: all 1s ease;
    position: relative;
    z-index: 900;
}

.special-offers-block__item:hover {
    transform: scale(1.1);
    border-color: #1dd2af;
    margin: 0.5rem;
    position: relative;
    z-index: 1000;
}

.offers-item__cover {
    width: 180px;
    height: 120px;
    margin: 0;
}

.offers-item__menu {
    margin: 0;
    padding: 0;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}


.offers-item__menu-hidden {
    margin: 0;
    padding: 0;    
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 100;
    border: 3px solid transparent;
    transition: all 1s ease;
    border-top: none;
    margin-left: -3px;
}

.special-offers-block__item:hover .offers-item__menu-hidden {
    border-color: #1dd2af;
    border-radius: 3px;
    border-top: none;
    margin-left: -3px;
}

.offers-item__stroke {
    display: flex;
    background-color: #eee;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 5px 10px;
    padding-right: 5px;
    font-family: "Roboto Regular", sans-serif;
    font-size: 12px;
    height: 40px;
}

.offers-item__stroke_position_first {
    margin: 0;
    padding-left: 10px;
    justify-content: space-between;
    color: #626262;
}

.special-offers-block__item:hover .offers-item__stroke_position_first {
    color: #fff;
    background-color: #2c3e50;
}

.offers-item__stroke_position_last {
    border-top: 1px dashed #000;
    justify-content: space-between;
}

.offers-item__img {
    margin-right: 10px;
    width: 17px;
    height: 18px;
}

.offers-item__nav-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
    width: 35px;
    height: 15px;
    cursor: pointer;
}

.offers-item__nav-img_type_top {
    background-image: url("img/str_nav.png");
}

.special-offers-block__item:hover .offers-item__nav-img_type_top {
    background-image: url("img/str_active.png");
}

.offers-item__nav-img_type_bottom {
    background-image: url("img/str.png");
}


@media all and (max-width: 399px) {
    .special-offers-block {
        max-height: 1200px;
    }
}
/* -- Holidays Type --*/
.holidays-type {
    background-color: #2c3e50;
    background-image: url('img/Layer12.png');
    min-height: 415px;
    color: #9dafc0;
}

.holidays-type .content-title__text_color_white {
    padding-top: 3rem;
    color: #fff;
}

.holidays-type-block {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-items: stretch;
    align-content: space-between;
    flex-basis: auto;
    flex-wrap: nowrap;
    margin-top: 3rem;
}

.holidays-type-block__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: space-between;
    flex-basis: auto;
    margin: 20px;
    cursor: pointer;
}

.holidays-item__text {
    text-align: center;
    font-family: "Roboto Regular", sans-serif;
}

.holidays-type-block__item:hover .holidays-item__text {
    color: #1dd2af;
}

.holidays-item__cover {
    border: 3px solid #fff;
    border-radius: 50%;
    width: 117px;
    height: 117px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
}

.holidays-type-block__item:hover .holidays-item__cover {
    border: 3px solid #1dd2af;
}

.holidays-item__cover_icon_cruise {
    background-image: url('img/cruise.png');
    background-size: 50% 55%;	
}

.holidays-type-block__item:hover .holidays-item__cover_icon_cruise {
    background-image: url('img/cruise2.png');
}

.holidays-item__cover_icon_city {
    background-image: url('img/city.png');
    background-size: 50% 60%;	
}

.holidays-type-block__item:hover .holidays-item__cover_icon_city {
    background-image: url('img/city2.png');	
}

.holidays-item__cover_icon_honey {
    background-image: url('img/honeyw.png');
    background-size: 70% 50%;	
}

.holidays-type-block__item:hover .holidays-item__cover_icon_honey {
    background-image: url('img/honey.png');
}

.holidays-item__cover_icon_advent {
    background-image: url('img/compas.png');
    background-size: 70% 70%;	
}

.holidays-type-block__item:hover .holidays-item__cover_icon_advent {
    background-image: url('img/compas2.png');	
}

.holidays-item__cover_icon_safari {
    background-image: url('img/safari.png');
    background-size: 60% 60%;
}

.holidays-type-block__item:hover .holidays-item__cover_icon_safari {
    background-image: url('img/safari2.png');
}

.holidays-item__cover_icon_beach {
    background-image: url('img/beach.png');
    background-size: 80% 30%;
}

.holidays-type-block__item:hover .holidays-item__cover_icon_beach {
    background-image: url('img/beach2.png');	
}

@media all and (max-width: 399px) {
    .holidays-type-block {
        flex-wrap: wrap;
        max-height: auto;
    }
    .holidays-item {
        justify-content: center;
        align-items: center;
        width: 100px;
    }
    .holidays-item__cover {
        width: 50px;
        height: 50px;
    }
    .holidays-item__text {
        width: 150px;
    }
}
/* ---- Reviews ---*/
.reviews {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
    flex-basis: auto;
    min-height: 463px;
}

.reviews-block{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
    flex-basis: auto;
    min-height: 150px;
    min-width: 450px;
    /*	border: 2px solid #1dd2af; - рамка для определения границ элемента */
}

.reviews-block__item {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
    flex-basis: auto;
    min-height: 150px;
    border: 1px solid #eee;
    margin: 10px;
    line-height: 20px;
    width: 350px;
}

.reviews-block__item:hover {
    box-shadow: 0 -3px 0.5px #1dd2af;
}

.reviews-block__item-text {
    color: #b2b2b2;
    font-family: "Roboto Regular", sans-serif;
    font-size: 14px;
}

.reviews-block__item-text:hover {
    color: #626262;
}

@media all and (max-width: 399px) {
    .reviews-block {
        padding: 0;
        margin: 0;
        min-width: 250px;
    }
    .reviews-block__item {
        width: 250px;
    }
}
/* ---- Footer --- */

footer {
    background-color: #2c3e50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer__site-nav {
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
    flex-basis: auto;
}

.footer-nav__column {
    margin: 0;
/*    margin-left: 10px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 300px;
/*    min-width: 300px;
    min-height: 200px;*/
    flex-basis: auto;
    margin: 0 10px;
    /*	border: 2px solid #1dd2af; рамка для
    определения границ элемента */
}

.footer-nav__title {
    margin: 10px 0;
    font-size: 24px;
    font-family: "Roboto Bold", sans-serif;
    color: #1dd2af;
}

.footer-nav__text {
    line-height: 20px;
}

.footer__subscribe {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.footer__subscribe-mail {
    background-color: #eee;
    width: 15em;
    min-height: 25px;
    padding-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    /*	border: 2px solid #1dd2af; */
}

.footer__subscribe-btn {
    width: 40px;
    height: auto; 
    text-transform: uppercase;
    vertical-align: top;
    justify-content: center;
    border: none;
    border-radius: 3px;
    word-wrap: break-word; 
    text-align: center;
    font-size: 12px;
    font-family: "Roboto Bold", sans-serif;
    background-color: #1dd2af;
    color: #fff;
}

.footer-nav__post {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.footer-nav__post-icon {
    width: 36px;
    height: 36px;
    margin-right: 20px;
    border: 1px #fff;
    padding: 3px;
}

.social-icons_position_footer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.social-icons_position_footer .social-icons__link {
    display: flex;
    margin: 5px;
    box-shadow: none;
} 

.footer-tags {
    line-height: 35px;
}

.footer-tags__link {
    border: 1px solid #fff;
    padding: 3px;
    margin-left: 5px;
}

.footer__links-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    margin-top: 15px;
}

.footer-menu__link {
    margin: 0 5px;
}

.footer-menu__link:hover {
    color: #1dd2af;
}

.footer__copyright {
    color: #b2b2b2;
}

.footer__btn-up {
    left: 20px; bottom: -20px; top: 10px; /* Положение треугольника */
    border: 45px solid transparent; /* Прозрачные границы */
    border-bottom: 45px solid #1dd2af; /* Треугольник */
    transition: all 6s ease;
}

@media all and (max-width: 399px) {
    .footer__links-menu {
        flex-wrap: wrap;
        justify-content: center;
        padding: 15px;
    }   
    
    .footer-menu__link {
        width: 250px;
    }
}
/* Хелперы */
.l-hidden {
    display: none;
}

.l-text_color_lazur {
    color: #1dd2af;
}