
body {
	padding: 0;
	margin: 0;
}
/* To do: убрать -margin для основных блоков */

.Banner {
	background-image: url("img/backhead.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;

	height: 849px;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    margin-left: -10px;
    margin-right: -10px;

}

.topbar {
	padding: 0px;
/*	margin: -10px; */
	font-size: 15px;
    line-height: 22px;
    font-family: "Roboto Light", sans-serif;
	background-color: #2c3e50;
}

.topbar a {
	color: #ffffff;
	text-decoration: none;
}

/* To do: иконки соцсетей в спрайт */
.topmenu {
	list-style: none;
	float: left;
	min-width: 1700px;
	height: 40px;
	background-color: #2c3e50;
}

.topmenu li {
	float: left;
	margin-right: 20px;
	margin-top: 10px;
}

.topmenu li:first-child {
margin-left: 265px;
}

.topmenu li:last-child {
    margin-right: 0;
}

.btn {
	text-decoration: none;
	text-transform: uppercase;
}

.Promo {

	display: flex;
	flex-direction: column;
	padding-top: 16em;
	top: 25em;
	left: 45em;

}

.Promo a {
	color: #ffffff;
	text-decoration: none;
}


 .scroll{
	display: flex;
	justify-content: center;

	width: 6em;
	height: 6em;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #ffffff;
	color: #000000;
	border-width: 0px;
	font-family: "Roboto Bold", sans-serif;
	opacity: 0.1;
}


 .scroll:hover{

	background-color: #1dd2af;
	opacity: 1;
	color: #ffffff;
}
/* 1700 *830 размер фона*/


.auth {
	display: flex;
	flex-direction: row;
	background-color: #2c3e50;
	margin-left: -10px;
	margin-right: -10px;
	color: #ffffff;
	justify-content: center;
	align-items: center;
}

.auth p {
	margin-right: 20px;
	text-transform: uppercase;
}

.auth span {
	color: #1dd2af;
}

.auth label {
	margin-left: 10px;
}

.auth button {
	width: 75px;
	height: 35px;
	margin-left: 15px;
	color: #ffffff;
	background-color: #1dd2af;
	border: none;
	border-radius: 3px;
}

.promo .btn {
	text-align: center;
}

.Promo p {
	font-family: "Roboto Bold", sans-serif;
	text-align: center;
	font-size: 22px;
}

.Promo p strong {
	font-family: "Roboto Medium", sans-serif;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
}

/* <--->  */
.category {
	background-color: #2c3e50;
	color: #ffffff;
}

/* <-------> */

footer {
	background-color: #2c3e50;
	color: #ffffff;
}

footer a{
	text-decoration: none;
	color: #ffffff;
}

.category h2,
.carusel h2,
.reviews h2 {
	text-transform: uppercase;
	text-align: center;
	padding-top: 2em;
}

.category p,
.carusel p,
.reviews h3 {
	text-align: center;
}

.point {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
	min-height: 380px;
}

.point>div {
	margin: 20px;
}


/* To do: Переверстать блоки item's
в отдельные элементы с img и p, добавить background
и выровнять по нижней границе */

.item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 275px;
    height: 259px;
    color: #ffffff;
    display: flex;
    align-items: flex-end;
    color: #000000;
}

.item:first-child {
	background-image: url("img/usa.png");
}

.item:nth-child(2) {
	background-image: url("img/spect2.png");
}

.item:nth-child(3) {
	background-image: url("img/hong.png");
}

.item:nth-child(4) {
	background-image: url("img/viet.png");
}

.item:nth-child(5) {
	background-image: url("img/spect.png");
}

.item:last-child {
	background-image: url("img/dubai.png");
}

.item h3 {
/*	border: 2px solid #1dd2af; - рамка для определения границ элемента */
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	background-color: #eeeeee;
	padding-left: 5%;
	padding-top: 5%;
	padding-bottom: 3%;
}

.reviews {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
}

.reviews-list{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
	min-height: 150px;
	min-width: 450px;
/*	border: 2px solid #1dd2af; - рамка для определения границ элемента */
}

.reviews-item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 20px;

	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
	min-height: 150px;
	min-width: 450px;
	border: 1px solid #eeeeee;
	margin: 20px;
}

.reviews-item:hover {
	border: 1px solid #eeeeee;
	border-top: 3px solid #1dd2af;
	margin: 19px;
	margin-top: 17px;
}

.footer-menu {

	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
}

.Newsletter,
.LatestNews,
.Tags,
.Address {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
	border: 2px solid #1dd2af;
	width: 450px;
	margin: 25px;
}


.Links {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	padding-bottom: 25px;
}

.typerest {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
	align-items: flex-end;
}

div .type-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
	margin: 20px;
}

.type-item img {
	margin: 20px;

}

div .cover {
	border: 1px solid #fff;
	border-radius: 50%;
/*	align-items: center;
	justify-content: center;
*/
}
/*
div img {
	background-image: url("img/Shape21.png"); */
}
/* To do: Переделать изображение в фон
 и заменять при наведении
.type-item img:hover{  }
*/

.topbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
}

div .tm-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
/*	margin: 20px; */
}

.Menu {
	display: flex;
	margin: -10px;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
	background-color: #eeeeee;
}

.header-logo {
  	display: flex;
  	justify-content: flex-start;
    margin-left: 265px;
    width:205px;
    height: 55px;
    margin-top: 25px;
/*    border: 2px solid #1dd2af; рамка для
определения границ элемента */

}

.head-nav  {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: nowrap;

	align-content: space-between;
	flex-basis: auto;
	margin: 30px;
	margin-left: 35em;
/*	border: 2px solid #1dd2af; рамка для
определения границ элемента */

}

.head-nav  div {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: nowrap;
	align-content: space-between;
	flex-basis: auto;
	margin-left: 20px;
/*	border: 2px solid #1dd2af; рамка для
определения границ элемента */

}

.main-nav {
	margin-left: 350px;
}

.main-nav  a {
	text-decoration: none;

	font-size: 28px;
	color: #5d6e80;
	text-transform: uppercase;
	font-family: "Roboto Medium", sans-serif;
}

.btn {
	display: flex;
	width: 20%;
    text-transform: uppercase;
	vertical-align: top;
	justify-content: center;
    border: 2px solid #1dd2af;
    padding: 10px;
    word-wrap: break-word;
    text-align: center;
    border-radius: 2px;
	font-size: 12px;
	margin: 20px;
	font-family: "Roboto Bold", sans-serif;
}

.btn:hover{

	background-color: #1dd2af;
}


a .btn {
	min-height: 830px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 15em;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* To do: У элементов зафиксировать размер
изображения в статике */
.point div {
	transition: all 1s ease;
}


.point div:hover {
	transform: scale(1.2);
	border: 5px solid #1dd2af;
	margin: 3em;
}

.point div:hover h3 {
	color: #ffffff;
	background-color: #2c3e50;
	border: none;
}

/* To do: посмотреть. как добавляются якоря на страницу.
To do: посмотреть, как отрисовать треугольник. */

.reviews-item strong {
	color: #1dd2af;
}

.footer-item {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	min-height: 300px;
/*	border: 2px solid #1dd2af; рамка для
определения границ элемента */
}

.footer-item h3 {
	/*	border: 2px solid #1dd2af; */
		padding: 0;
		margin: 0;
		margin-top: 15px;
		margin-left: 15px;
		font-size: 26px;
		font-family: "Roboto Bold", sans-serif;
		color: #1dd2af;
}

.Newsletter p {
/*	border: 2px solid #1dd2af; */
	margin-left: 15px;
	width: 85%;
}

.Newsletter  input {
	background-color: #eeeeee;
	width: 20em;
	min-height: 25px;
	padding-left: 8px;
	margin-right: 5px;
	margin-left: 15px;
	margin-top: 0;
/*	border: 2px solid #1dd2af; */
}

.Newsletter button {
	width: 35px;
	min-height: 25px;
    text-transform: uppercase;
	vertical-align: top;
	justify-content: center;
    border: none;
    border-radius: 2px;
    word-wrap: break-word;
    text-align: center;
	font-size: 12px;
	font-family: "Roboto Bold", sans-serif;
	background-color: #1dd2af;
	color: #ffffff;
}

.LatestNews .post {
	margin-left: 15px;
	margin-top: 10px;
}

.post img {
	margin: 0;
	padding: 0;
}

.post p {
	margin: 0;
	padding: 0;
}

.Tags p {
	margin-left: 15px;
	line-height: 35px;
}

.Tags span {
	border: 1px solid white;
	padding: 3px;
	margin-left: 5px;
}

.Address p {
	margin-left: 15px;
}

/* уголок */
.up {
    left: 20px; bottom: -20px; top: 10px;/* Положение треугольника */
    border: 45px solid transparent; /* Прозрачные границы */
    border-bottom: 45px solid #1dd2af; /* Треугольник */
}

.top-nav {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: nowrap;
		align-items: stretch;
		align-content: space-between;
		flex-basis: auto;
}

.Menu {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: nowrap;
		align-items: stretch;
		align-content: space-between;
		flex-basis: auto;
}

.sub-menu {
	display: none;
}

.sub-menu:checked {
	display: inline;
}

form {
	display: flex;
	flex-direction: row;
	align-items: baseline;;
}

.locate {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	border: none;
	margin-left: 15px;
	border-radius: 3px;
}

.locate input {
	border: none;
	margin: 6px;
}

.locate img {
		background-color: white;
		border: none;
}

.period {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	border: none;
	margin-left: 15px;
	border-radius: 3px;
}

.period input {
	border: none;
	margin: 6px;
}

.period img {
		background-color: white;
		border: none;
}
