@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto:300,400,500,700');

body {
	padding: 0;
	margin: 0;
}

.topbar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	font-size: 15px;
    line-height: 22px;
    font-family: "Roboto Light", sans-serif;
	background-color: #2c3e50;
	flex-basis: auto;
	padding: 3px;
}

.topbar a {
	color: #ffffff;
	text-decoration: none;
}

div .tm-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
}
/* To do: иконки соцсетей в спрайт */

.topmenu {
	margin: 0;
	list-style: none;
	height: 40px;
	background-color: #2c3e50;
}

.topmenu li {
	float: left;
	margin-right: 20px;
	margin-top: 10px;
}

.topmenu li img {
	margin-right: 10px;
}

.topmenu li span {
	color: #1dd2af;
}

.Menu {
	background-color: #eeeeee;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-items: stretch;
	padding: 10px;
}

.header-logo {
    display: flex;
	align-items: center;
	justify-content: center;
    width:205px;
    height: 55px;
	/*  border: 2px solid #1dd2af; рамка для
	определения границ элемента */
}

.head-nav {
    display: flex;
	align-items: center;
	justify-content: center;
	/*  border: 2px solid #1dd2af; рамка для
	определения границ элемента */
}

.head-nav  div {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: nowrap;
	align-content: space-between;
	flex-basis: auto;
	margin-left: 20px;
	/*	border: 2px solid #1dd2af; рамка для
	определения границ элемента */
}

.main-nav a {
	text-decoration: none;
	font-size: 20px;
	color: #5d6e80;
	text-transform: uppercase;
	font-family: "Roboto Medium", sans-serif;
}

.main-nav a:hover {
/*	border-top: 3px solid #1dd2af;*/
	color: #1dd2af;
}

.Banner {
	background-image: url("img/backhead2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
	height: 849px;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}

.btn {
	text-decoration: none;
	text-transform: uppercase;
}

.Promo {
	display: flex;
	flex-direction: column;
	padding-top: 16em;
	top: 25em;
	left: 45em;
}

.Promo a {
	color: #ffffff;
	text-decoration: none;
}

.scroll{
	display: flex;
	justify-content: center;
	width: 6em;
	height: 6em;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #ffffff;
	color: #000000;
	border-width: 0px;
	font-family: "Roboto Bold", sans-serif;
	opacity: 0.1;
}

.scroll:hover {
	background-color: #1dd2af;
	opacity: 1;
	color: #ffffff;
}

/* 1700 *830 размер фона*/

.auth {
	display: flex;
	flex-direction: row;
	background-color: #2c3e50;
	color: #ffffff;
	justify-content: center;
	align-items: center; 
}

.auth p {
	margin-right: 20px;
	text-transform: uppercase;
}

.auth span {
	color: #1dd2af;
}

.auth form {
	align-items: baseline;
}

.auth label {
	margin-left: 10px;
}

.auth button {
	width: 75px;
	height: 35px;
	margin-left: 15px;
	color: #ffffff;
	background-color: #1dd2af;
	border: none;
	border-radius: 3px;
}

.promo .btn {
	text-align: center;
}

.Promo p {
	font-family: "Roboto Bold", sans-serif;
	text-align: center;
	font-size: 22px;
}

.Promo p strong {
	font-family: "Roboto Medium", sans-serif;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
}

.btn {
	display: flex;
	width: 20%;
    text-transform: uppercase;
	vertical-align: top;
	justify-content: center;
    border: 2px solid #1dd2af;
    padding: 10px;
    word-wrap: break-word;
    text-align: center;
    border-radius: 2px;
	font-size: 12px;
	margin: 20px;
	font-family: "Roboto Bold", sans-serif;
}

.btn:hover {
	background-color: #1dd2af;
}


a .btn {
	min-height: 830px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 15em;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/*----*/

.top-nav {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: nowrap;
		align-items: stretch;
		align-content: space-between;
		flex-basis: auto;
}

.locate {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	border: none;
	margin-left: 15px;
	border-radius: 3px;
}

.locate input {
	border: none;
	margin: 6px;
}

.locate img {
		background-color: white;
		border: none;
}

.period {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	border: none;
	margin-left: 15px;
	border-radius: 3px;
}

.period input {
	border: none;
	margin: 6px;
}

.period img {
		background-color: white;
		border: none;
}
											/* ---Special offers ----*/

.carusel {
	height: 500px;
}

.title h2 {
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	padding-top: 2em;
	font-family: Roboto Medium, sans-serif;
	color: #2c3e50;
}

.title p {
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
	font-family: Roboto Regular, sans-serif;
}

.point {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto; 
}

.item {
    width: 275px;
    height: auto;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.item img + .item_cover{
	width: 275px;
	height: 200px;
}

.item_cover {
	width: 100%;
	margin: 0;
}

.sub-menu {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
}

.sub-menu li {	
	display: flex;
	width: auto;
	background-color: #eeeeee;
	justify-content: flex-start;;
	align-items: center;
	margin: 0;
	padding: 10px 15px;
	font-family: Roboto Regular, sans-serif;
}

/*.sub-menu li:first-child */
.sub-menu .first_li {
	justify-content: space-between;
	color: #626262;
}

.disclose {
	background-image: url("img/str_nav.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50% 50%;
	width: 35px;
	height: 20px;
}

.sub-menu li:last-child {
	justify-content: space-between;
	border-top: 1px dashed black;
}

.item {
	transition: all 0.9s ease;
}

.item:hover {
	transform: scale(1.2);
	border: 5px solid #1dd2af;
	margin: 3em;
}

.item:hover .first_li {
	color: #ffffff;
	background-color: #2c3e50;
}

.item:hover .disclose {
	background-image: url("img/str_active.png");
}

li + .hidden_item,
li + .hidden2_item,
li + .hidden3_item,
li + .hidden4_item,
li + .hidden5_item,
li + .hidden6_item {
	display: none;	
} 

.sub_item img {
	margin-right: 15px; 
} 

											/* -- Holidays Type --*/

.category {
	background-color: #2c3e50;
	color: #ffffff;
	background-image: url('img/Layer12.png');
	min-height: 515px;
}

.category h2 {
	color: white;
}

.category p {
	font-family: "Roboto Regular", sans-serif;
	color: #9dafc0;
}

.typerest {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
	align-items: flex-end;
}

div .type-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
	margin: 20px;
}

.type-item p {
	text-align: center;
}

div .cover {
	border: 3px solid #fff;
	border-radius: 50%;
	width: 147px;
	height: 147px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: center;
}

.type-item:first-child .cover {
	background-image: url('img/cruise.png');
	background-size: 50% 55%;	
}

.type-item:first-child .cover:hover {
	background-image: url('img/cruise2.png');
	border: 3px solid #1dd2af;
}

.type-item:nth-child(2) .cover {
	background-image: url('img/city.png');
		background-size: 50% 60%;	
}

.type-item:nth-child(2) .cover:hover {
	background-image: url('img/city2.png');
	border: 3px solid #1dd2af;	
}

.type-item:nth-child(3) .cover {
	background-image: url('img/honeyw.png');
	background-size: 70% 50%;	
}

.type-item:nth-child(3) .cover:hover {
	background-image: url('img/honey.png');
	border: 3px solid #1dd2af;	
}

.type-item:nth-child(4) .cover {
	background-image: url('img/compas.png');
	background-size: 70% 70%;	
}

.type-item:nth-child(4) .cover:hover {
	background-image: url('img/compas2.png');
	border: 3px solid #1dd2af;	
}

.type-item:nth-child(5) .cover {
	background-image: url('img/safari.png');
	background-size: 60% 60%;
}

.type-item:nth-child(5) .cover:hover {
	background-image: url('img/safari2.png');
	border: 3px solid #1dd2af;	
}

.type-item:last-child .cover {
	background-image: url('img/beach.png');
	background-size: 80% 30%;
}

.type-item:last-child .cover:hover {
	background-image: url('img/beach2.png');
	border: 3px solid #1dd2af;	
}

.type-item p {
	font-family: "Roboto Regular", sans-serif;
}

.type-item:hover p {
	color: #1dd2af;
}

											/* ---- Reviews ---*/

.reviews {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
	min-height: 463px;
}

.reviews h2 {
	color: #2c3e50;
}

.reviews h3 {
	font-weight: normal;
	color: #626262;
	text-align: center;
}

.reviews-list{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
	min-height: 150px;
	min-width: 450px;
	/*	border: 2px solid #1dd2af; - рамка для определения границ элемента */
}

.reviews-item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 20px;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
	min-height: 150px;
	min-width: 450px;
	border: 1px solid #eeeeee;
	margin: 20px;
	line-height: 22px;
}

.reviews-item p {
	color: #b2b2b2;
	font-family: "Roboto Regular", sans-serif;
}

.reviews-item strong {
	color: #1dd2af;
}

.reviews-item:hover {
	border: 1px solid #eeeeee;
	border-top: 3px solid #1dd2af;
	margin: 19px;
	margin-top: 17px;
}

.reviews-item:hover p {
		color: #626262;
}
											/* ---- Footer --- */

footer {
	background-color: #2c3e50;
	color: #ffffff;
}

footer a{
	text-decoration: none;
	color: #ffffff;
}

.footer-item {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	min-height: 200px;
	/*	border: 2px solid #1dd2af; рамка для
	определения границ элемента */
}

.footer-item h3 {
	/*	border: 2px solid #1dd2af; */
		padding: 0;
		margin: 0;
		margin-top: 15px;
		margin-left: 15px;
		font-size: 26px;
		font-family: "Roboto Bold", sans-serif;
		color: #1dd2af;
}

.footer-menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
}

.Newsletter,
.LatestNews,
.Tags,
.Address {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: space-between;
	flex-basis: auto;
	/*	border: 2px solid #1dd2af; */
	width: 350px;
	margin: 15px;
}

.Links {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: space-between;
}

.Links a:hover {
	color: #1dd2af;

}

.link-nav {
	margin-top: 25px;
}

.Newsletter p {
	/*	border: 2px solid #1dd2af; */
	margin-left: 15px;
	width: 85%;
	line-height: 25px;
}

form {
	display: flex;
	flex-direction: row;
	margin-left: 15px; 
	align-items: stretch;
}

.Newsletter  input {
	background-color: #eeeeee;
	width: 15em;
	min-height: 25px;
	padding-left: 10px;
	margin-right: 10px;
	border-radius: 3px;
	/*	border: 2px solid #1dd2af; */
}

.Newsletter button {
	width: 40px;
	height: auto; 
    text-transform: uppercase;
	vertical-align: top;
	justify-content: center;
    border: none;
    border-radius: 3px;
	word-wrap: break-word; 
	text-align: center;
	font-size: 12px;
	font-family: "Roboto Bold", sans-serif;
	background-color: #1dd2af;
	color: #ffffff;
}

.LatestNews .post {
	margin-left: 25px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 20px;
}

.post img {
	margin: 0;
	padding: 0;
	width: 36px;
	height: 36px;
	margin-right: 20px;
}

.post p {
	margin: 0;
	padding: 0;
}

.post span {
	color: #1dd2af;
}

.Tags p {
	margin-left: 15px;
	line-height: 35px;
}

.Tags span {
	border: 1px solid white;
	padding: 3px;
	margin-left: 5px;
}

.Address p {
	margin-left: 15px;
	line-height: 25px;
}

.Address span {
	color: #1dd2af;
}

/* уголок */
.up {
    left: 20px; bottom: -20px; top: 10px; /* Положение треугольника */
    border: 45px solid transparent; /* Прозрачные границы */
    border-bottom: 45px solid #1dd2af; /* Треугольник */
}

												/*---Forma LogIn---*/
.login_form {
	background-color: #eee;
	background-image: url("img/auth_form.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 15%;
	left: 40%;
	width: 265px;
	height: 400px;
	border-radius: 2px;
	display: none; 
}

.login_form_active {
	background-color: #eee;
	background-image: url("img/auth_form.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 15%;
	left: 40%;
	width: 265px;
	height: 400px;
	border-radius: 2px;
}

.login_form_active input {
	background-color: rgba(0, 170, 238, 0);
	border: none;
	border-bottom: 1px solid #eee;
	margin-top: 10px;
	padding-bottom: 5px;
	color: white; 
}

.data_login {
	margin-top: 77%;
	margin-left: 16%;
}

.login_form_active button {
	margin-top: 37px;
	min-width: 182px;
	min-height: 35px;
	justify-content: center;
	word-wrap: normal;
	background-color: #008B8B; /* #2E8B57 */
	color: white;
}
	/* To do: При нажатии ссылки LogIn затемнять фон body */

.login_form_active p {
	color: #eee;
	margin: 0;
}

.login_form_active a {
	color: #eee;
	text-decoration: none;
}
